/*
  Theme de couleur "Bluesis" importé depuis https://ui.jln.dev/ 
*/

:root {
	--background: hsl(240, 3.7%, 15.88%);
	--foreground: hsl(229, 23%, 99%);
	--muted: hsl(240, 5.88%, 10%);
	--muted-foreground: hsl(0, 0%, 97%);
	--popover: hsl(240, 5.88%, 10%);
	--popover-foreground: hsl(0, 0%, 100%);
	--card: hsl(240, 5.88%, 10%);
	--card-foreground: hsl(0, 0%, 100%);
	--border: hsl(249.06, 0%, 14.62%);
	--input: hsl(215, 0%, 23.85%);
	--primary: hsl(216, 100%, 50%);
	--primary-foreground: hsl(0, 0%, 100%);
	--secondary: hsl(0, 0%, 98.04%);
	--secondary-foreground: hsl(229, 0%, 0%);
	--accent: hsl(228, 23.26%, 16.86%);
	--accent-foreground: hsl(229, 23%, 77%);
	--destructive: hsl(358.16, 68.78%, 53.53%);
	--destructive-foreground: hsl(0, 0%, 100%);
	--ring: hsl(216, 0%, 17.69%);
}

html,
body {
	height: 100%; /* Assurez-vous que le body prend toute la hauteur de la fenêtre */
	margin: 0; /* Supprimez les marges par défaut */
}

body {
	display: flex; /* Utilisez Flexbox */
	flex-direction: column; /* Alignez les éléments en colonne */
	font-family: "Roboto", sans-serif;
	background: white;
	color: black;
	padding: 0; /* Assurez-vous qu'il n'y a pas de padding */
}

* {
	box-sizing: border-box;
}

#container {
	flex: 1; /* Permet au conteneur principal de prendre tout l'espace disponible */
	margin-top: 5em;
	padding: 2em 0px;
	background-color: var(--secondary);
	border-radius: 0.5em;
}
