footer {
	background: var(--card);
	border-radius: var(--radius);
	box-shadow: 8px 8px 15px rgba(var(--muted), 0.2),
		-8px -8px 15px rgba(var(--popover), 0.5);
	padding: 1rem;
	text-align: center;
	position: relative;
	width: 100%;
	bottom: 0;
	z-index: 1000;
	font-family: "Fira Code", monospace;
}

footer p {
	color: var(--muted-foreground);
}
