header {
	background: var(--card);
	border-radius: var(--radius);
	box-shadow: 8px 8px 15px rgba(var(--muted), 0.2),
		-8px -8px 15px rgba(var(--popover), 0.5);
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	font-family: "Fira Code", monospace;
}

header h1 {
	color: var(--foreground);
}

header nav a {
	color: var(--primary-foreground);
	margin: 0 1rem;
	text-decoration: none;
}

header nav a:hover {
	color: var(--primary);
}
