#feed {
	max-width: 700px;
	margin: 0 auto;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#new-post-form-container {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

#new-post-form-container img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

#new-post-form {
	display: flex;
	margin: auto;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	width: 100%;
}

#new-post-form textarea {
	flex-grow: 1;
	height: 40px;
	padding: 10px;
	border: none;
	border-radius: 8px 0 0 8px;
	resize: none;
	font-family: inherit;
	font-size: 14px;
}

#new-post-form button {
	padding: 10px 20px;
	background-color: var(--secondary);
	color: white;
	border: none;
	border-radius: 0 8px 8px 0;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-size: 14px;
	font-weight: bold;
}

#new-post-form button:hover {
	background-color: var(--secondary-dark);
}

.post {
	background: white;
	border-radius: 8px;
	padding: 15px;
	margin-bottom: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-header {
	display: flex;
	align-items: center;
	position: relative;
}

.post-date {
	position: absolute;
	top: 20;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-size: 0.8em;
	color: #666;
}

.author-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

.post img.post-image {
	width: 100%;
	border-radius: 4px;
	margin: 10px 0;
}

.post-comments {
	margin-top: 20px;
	color: var(--muted);
	border-radius: 5px;
}

.comment {
	margin: 5px 0;
	background-color: var(--muted-foreground);
	border-radius: 5px;
	padding: 10px;
}

.comment-date {
	font-size: 0.8em;
	color: #666;
	display: block;
	margin-top: 5px;
}

.error {
	color: var(--destructive);
	text-align: center;
}

.new-comment-form {
	display: flex;
	margin-top: 10px;
}

.new-comment-form input {
	flex-grow: 1;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px 0 0 4px;
}

.new-comment-form button {
	padding: 8px 16px;
	background-color: var(--primary);
	color: white;
	border: none;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.new-comment-form button:hover {
	background-color: var(--primary-dark);
}
